<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>@@title</title>
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="icon" type="image/png" href="img/favicon/favicon.png">
<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">

<!-- END Эти библиотеки обязательны на всех страницах -->
<!-- <link rel="stylesheet" href="lib/bootstrap-4.6.1/dist/css/bootstrap.min.css" media="all"> -->
<!-- <link rel="stylesheet" href="lib/icomoon-v1.0/style.css" media="all"> -->
<!-- Эти библиотеки обязательны на всех страницах -->


<!-- Эти библиотеки подключать на текущую страницу-->
<!-- @@if (context.swiper === true) { -->
    <!-- <link rel="stylesheet" href="lib/swiper/swiper-bundle.min.css" media="all"> -->
<!-- } -->
<!-- @@if (context.daterangepicker === true) { -->
    <!-- <link rel="stylesheet" href="lib/daterangepicker/daterangepicker.css" media="all"> -->
<!-- } -->
<!-- @@if(context.swiper === false && context.daterangepicker === false && context.jcf === false && context.d3 === false){ -->
    <!-- Нет дополнительных библиотек -->
<!-- } -->
<!-- END Эти библиотеки подключать на текущую страницу-->

<!-- <link rel="stylesheet" href="css/style.css" media="all"> -->


<!-- <link rel="preload" as="font" href="fonts/open-sans/open-sans-v27-latin_cyrillic-regular.woff2" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="fonts/open-sans/open-sans-v27-latin_cyrillic-600.woff2" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="fonts/open-sans/open-sans-v27-latin_cyrillic-700.woff2" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="fonts/montserrat/montserrat-v18-latin_cyrillic-500.woff2" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="fonts/montserrat/montserrat-v18-latin_cyrillic-600.woff2" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="fonts/montserrat/montserrat-v18-latin_cyrillic-700.woff2" type="font/woff2" crossorigin> -->

<!-- <link rel="preload" as="font" href="lib/icomoon-v1.0/fonts/icomoon.woff" type="font/woff" crossorigin> -->